.header {
    padding: 30px 0;
    background-color: #008F76;
}

.nav,
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    width: 100%;
    max-width: 500px;
}

.nav__link {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

.nav__link-active {
    font-weight: 600;
}